.App {
    margin: 50px;
}
.sidebar {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    .categories {
        border: 1px solid black;
        display: flex;
        align-items: center;
        @media (max-width: 1000px) {
            max-width: 100%;
            overflow-x: scroll;
        }
        .category {
            min-width: 100px;
            line-height: 40px;
            text-align: center;
            cursor: pointer;
            transition: 250ms;
            background-color: #fbfbfb;
            color: black;
            text-decoration: none !important;
            &:not(:last-child) {
                border-right: 1px solid black;
            }
            &:hover {
                background-color: transparent;
                color: grey;
            }
        }
    }
}
.cats {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .imgae-box {
        width: 250px;
        padding: 15px;
        .aspect-ratio-box {
            height: 0;
            overflow: hidden;
            background: white;
            position: relative;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    button {
        padding: 5px 15px;
    }
}